#/etc/systemd/system
[Unit]
Description=mydjango
After=network.target
 
[Service] 
WorkingDirectory=/home/vagrant/share/mysite
ExecStart=/home/vagrant/anaconda3/bin/gunicorn --bind 127.0.0.1:8000 mysite.wsgi:application

[Install]
WantedBy=multi-user.target
