<!doctype html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>一覧</title>
</head>

<body>
<div class="col-md-12 main">
    <h2 class="page-header">集計一覧</h2>
    <a href="{% url 'mycalendar:inputList' %}">入力一覧</a>
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'mycalendar:MonthlySumList' %}">
        <input class="form-control mr-sm-2" type="month" min="2018-06" max="2019-12" aria-label="Search" name="keyword1">
        <input class="form-control mr-sm-2" type="text" aria-label="Search" name="keyword2">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <hr>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>年月</th>
                <th>大項目</th>
                <th>工数</th>
                <th>登録者</th>
            </tr>
            </thead>
            <tbody>
            {% for sum in MonthlySumList %}
            <tr>
                <td>{{ year_month }}</td>
                <td>{{ sum.LargeItem__name }}</td>
                <td>{{ sum.MonthlySum }}</td>
                <td>{{ sum.register }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% csrf_token %}
    </div>
</div>
</body>