{% extends "base.html" %}
{% load bootstrap %}

{% block title %}書籍の編集{% endblock title %}

{% block contents %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="page-header">書籍の更新</h2>
        <div class="col-md-5">
         <form action="" method="post" class="form-horizontal" role="form">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="form-group">
            <div class="container">
                <button type="submit" class="btn btn-primary">更新</button>
                <a href="{% url 'book_list' %}" class="btn btn-default btn-sm">戻る</a>
            </div>
          </div>
         </form>
        </div>
    </div>

{% endblock %}


