{% extends 'app/base.html' %}
{% block content %}
<form action="" method="POST">
  {{ formset.as_p }}
  {% csrf_token %}
  <button type="submit">送信</button>
</form>

{% endblock %}


{% block extrajs %}
<script>
  // 大カテゴリpk: [[カテゴリ1pk, カテゴリ1表示名], [カテゴリ2pk, カテゴリ2表示名]]...のようになります。
  var category = {
    {% for bc in bigcategory_list %}
      {{ bc.pk }}: [
          {% for c in bc.category_set.all %}
            [ {{ c.pk }}, '{{ c.name }}' ],
          {% endfor %}
          ],
    {% endfor %}
  };

  $(function() {
      // big_categoryで終わるidのもの、つまり大カテゴリ内を選択したら呼ばれる
      $('[id$=big_category]').on('change', function(){
          // [カテゴリ1pk, カテゴリ1表示名] を取得する。
          var categories = category[this.value];
          var option_element = '';
          for(c of categories){
              var pk = c[0];  // カテゴリpk
              var text = c[1];  // カテゴリ表示名
              option_element += '<option value=' + pk + ' >' + text + '</option>';
          }
          // 大かてごりselectの親がp要素なので、parentとし、次のpの中にあるselectが中カテゴリとなるselect要素です。
          var small_category_select_element = $(this).parent().next('p').find('select');
          console.log(small_category_select_element);
          small_category_select_element.html(option_element);
      })
  });

</script>
{% endblock %}