{% extends "base.html" %}
{% load bootstrap %}

{% block title %}書籍の編集{% endblock title %}

{% block contents %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="page-header">書籍の更新</h2>
        <div class="col-md-5">
            <form action="{% url 'book_edit' book.id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn btn-default" value="更新する"/>
            </form>
        </div>
    </div>

{% endblock %}


      <form action="" method="post" class="form-horizontal" role="form">
          {% csrf_token %}
          {{ form }}
          <div class="form-group">
            <div class="container">
                <button type="submit" class="btn btn-primary">Change Status</button>
                <a href="{% url 'app1:ipaddress' %}" class="btn btn-default btn-sm">Back</a>
            </div>
          </div>
      </form>